@primary: #d44848;


* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float:left;
}
.right {
  float: right;
}

nav {
  padding: 0 30px;
  line-height: 50px;
  background: @primary;
  color: #fff;
}

section {
  padding: 30px;
}

h2 {
  color: @primary;
  margin: 10px 0;
}

.btn {
  color: #fff;
  background: @primary;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px 12px;
  display: inline-block;
  &:hover {
    background: #af3434;
  }
}

.user-list {
  .user-list-item {
    line-height: 30px;
    font-size: 1.2em;
  }
}
