
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float:left;
}
.right {
  float: right;
}

nav {
  padding: 0 30px;
  line-height: 50px;
  background: #d44848;
  color: #fff;
}

section {
  padding: 30px;
}

h2 {
  color: #d44848;
  margin: 10px 0;
}

.user-list {
  .user-list-item {
    line-height: 30px;
    font-size: 1.2em;
  }
}
