@primary: #d44848;


* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 20px 0;
}

a {
  color: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float:left;
}
.right {
  float: right;
}

nav {
  padding: 0 30px;
  line-height: 50px;
  background: @primary;
  color: #fff;
  ul {
    padding: 0;
  }
}

section {
  padding: 30px;
}

h2 {
  color: @primary;
  margin: 10px 0;
}

.form-field {
  margin-bottom: 15px;
}

input {
  display: block;
  line-height: 20px;
  height: 28px;
  padding-left: 5px;
  width: 100%;
  margin-top: 3px;
}

.btn {
  color: #fff;
  background: @primary;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px 12px;
  display: inline-block;
  &:hover {
    background: darken(@primary, 12%);
  }
}

.user-list {
  .user-list-item {
    line-height: 30px;
    font-size: 1.2em;
  }
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  background: #efefef;
  border-radius: 5px;
  box-shadow: 0 0 0 9000px rgba(0, 0, 0, 0.5), 1px 1px 2px #444;
  z-index: 300;
  max-height: 700px;
  overflow-y: hidden;
  transition: visibility .25s linear, opacity .25s linear;

  &.is-open {
    top: 100px;
    opacity: 1;
    visibility: visible;
  }

  .modal-header {
    color: @primary;
    text-align: center;
    font-size: 2em;
    line-height: 75px;
    border-bottom: 1px solid #d6d6d6;
  }

  .modal-content {
    padding: 20px;
  }

  .modal-footer {
    border-top: 1px solid #d6d6d6;
    padding: 15px 5px;
    .btn {
      margin-right: 15px;
    }
  }
}
